/*------------------css reset-----------------*/
*{
padding:0;
margin: 0;
font-family:100%;
line-height:1em;
}

body{
    width: 100%;
    position: absolute;
    right: 0;

    overflow-x: hidden;
  
}
    

section{width: 100%;}

.home-button{position: fixed;
margin: auto;
left: 0;
top: -30px;
text-align: center;
width: 5%;
padding: 0.5em;
margin-top:1.6em;z-index: 3;
background-color: white;
border: 4px;
border-style: solid;
    border-color: indianred;
border-radius: 30px;
    font-size: 1.4em
}

a.home-button{text-decoration: none;
color: black;
font-family: 'Varela Round', sans-serif; 
transition: 0.2s ease-in-out}

a.home-button:hover{text-decoration: none;
font-family: 'Varela Round', sans-serif;
background-color: rgba(203,93,94,1);
color: white;
border: 4px;
border-style: solid;
    border-color: white;
border-radius: 30px;}
a.home-button:active{text-decoration: none;
font-family: 'Varela Round', sans-serif;
background-color:rgba(203,93,94,1);
color: white;
transition: 0.1s;}

.element-nav{display: flex;
    position:fixed;
    right: 1.2em;
    z-index: 4;
    list-style: none;
    top: -2em
 
}
.element-nav li{padding:0 ;}
.element-nav img{transform: scale(0.5)}
.element-nav a{opacity: 0.5;}
.element-nav a:hover{opacity: 1}
.element-nav a:active{}


.container{display: flex;
    width: 100%;
    }
.left{height: 100%;
position: fixed;
width: 50%;}
.left.mercury{background-image: url(../image/palace.png) ;
    background-position: top;
    background-attachment: scroll;
    background-repeat: no-repeat;
}
.left.polonium{background-image: url(../image/lad.png);
background-position: top  ;
background-size:contain ;
background-repeat: no-repeat;}
.left.hydrogen{background-image: url(../image/sky.png);
background-size:contain ;
background-position: top ;
background-repeat: no-repeat;}
.left.lead{background-image: url(../image/room.png);
background-size:contain;
background-position: top ;
background-repeat: no-repeat;}
.left.chlorine{background-image: url(../image/gas.png);
background-size:contain;
background-position: top ;
background-repeat: no-repeat;}




.right{width:50% ;
    position: absolute;
    right: 0;
    background-attachment: fixed;
    height: 100vh;}

.element{ width: 50%;
position: fixed;
z-index: 2;
bottom: 0;}


.sub-heading{padding: em;
    margin-top: 1em}

h1{font-family: 'Varela Round', sans-serif;}

.title{color: white;
    position: fixed;
    top: 0;
width: 50%;
    z-index: 2;
    text-align: center;
    font-size: 3em;
background-color:indianred;
padding-top:0.9em;
padding-bottom: 0.9em;}

.symbol{position: absolute;
    margin: 25%;
    right:.1%;
    top:-12.3%;
display: block;
    font-family: monospace;
  
}

.text{margin: 35%;
}

h2{color: gray;
    text-align: center;
text-transform: uppercase;
font-family: 'Varela Round', sans-serif;}

p{
    width: 90%;
    line-height: 1.4em ;
margin: auto;
font-size:1.3em;
font-family: 'Varela Round', sans-serif;}

.pic-title{ font-family: Filson soft;
    display: block;
    margin: auto;
font-size: 2em;
padding: 1em;
    text-align: center;
}
.fact-list{display: flex;
    flex-direction: column;
    flex-wrap: wrap;
width: 100%;
height:150px}
li{font-family: Filson soft  ;
    color: grey;
    list-style: none;
    padding: 1.5em
}
.fact-background{background-image: url(../image/splashbackground.png);
    border: 4px;
    width: 80%;
    margin:auto;
    margin-top: 1em;
border-style: solid;
border-radius: 25px;
border-color:indianred;}

.deadlyfact h1{text-align: center;
padding: 0.5em}
.deadlyfact{
    height:auto;
    padding: 1em;
    
  width: 80%;
    margin:auto;
    margin-top: 8em;
background-color: indianred;
border-radius: 25px;
text-align: inherit;
}
.deadlyfact-right{display: block;

    margin: auto;
   
    height:auto;
    padding: 1em;

background-color: indianred;
border-radius: 25px;
text-align: inherit;}
span{ 
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}
.atomcontainer{ background-color: rgba(255,255,255,0.4)}
.atom{
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 30s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    margin:auto;
    display: block;
margin-top: 9em;
  
}

.arrow{display: block;
margin: auto;
margin-top:1.2em;
transition: 0.2s}

.arrow:hover{transform: scale(1.1);
    display: block;
margin: auto;
margin-top: 1.3em}

.arrow-up{display: block;
margin: auto;
margin-top: 3em;
transition: 0.2s}

.arrow-up:hover{transform: scale(1.1);
    display: block;
margin: auto;
margin-top: 3em}

.fact-skeleton{position: absolute;
    margin-top: -1em;
    right: 2em;
    bottom:
}


@media only all and (max-width: 600px) {
    .left{
        width: 50%;
        max-width: none;
        background-color: salmon;
    }
    .right{width:50%;
    max-width: none;}
    
	.left {background-image: url(../image/splashbackground.png);
				border-right: none;
      	border-bottom: 1px solid #2f2f2f;
	}

}

