/*------------------css reset-----------------*/
*{
padding:0;
margin: 0;
font-family:100%;
line-height:1em;
}

/*-----------*/
body{background-color: skyblue}

.yellow{width: 100%;
margin-top: 100px;
background-color: lightgoldenrodyellow;
height: 30vh}

h1{text-align: center;
background-color: white;
    font-size: 5em;
    font-family: krungthep;
    }
.brown{width: 60%;
margin: auto;left: 0;
    right: 0;
height: 10px;
background-color: saddlebrown;}
.board{ margin-top: 50px;
    margin: auto;left: 0;
    right: 0;
    background-color: darkseagreen;
border: 10px;
    border-style: solid;
border-color: darkgreen;
width: 60%;
    
min-height: 45vh;}
li{color: white;
text-align: center;
list-style: none;}


.element{margin-top:1em;
    min-width: 70px;
    padding: .5em;
    font-size: 2em;
    height: 70px;
    border: 5px;
    border-style: solid;
    border-color: white;
    margin: 10px;
    
}

.flex-board{display: flex;
flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.flex-item{max-width: 400px;}

.proffessor{position: absolute;
right:1%;
top:15em;}


.table{z-index: 2;
    border-bottom: 100px solid brown;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
    margin-top: -8em
  
	}

	.table2{
	margin-top: -3px;
	height: 100vh;
	background: brown;
}
			
.book{z-index: 3;
    margin: auto;
    width: 85%;
    border-bottom: 80px solid red;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	height: 0;
    margin-top: -77px}

.book2{z-index:5; 
    position: absolute;

    margin: auto;
    top:665px;
    left: 0;
    right: 0;
    width: 88%;
	height: 100vh;
	background: red;}
					
.base {
  background: red;
  display: ;
  height: 200vh;
  
  margin-top: 55px;
    position: relative;
    width: 90%;
    margin: auto;
    left: 0;
    right: 0;
}
.base:before {
  border-bottom: 120px solid red;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: -120px;
    max-width: 1034px;
    width: 100%;
    
 
}
.base2 {
  background: red;
  display: ;
  height: 200vh;
  
  margin-top: 55px;
    position: relative;
    width: 90%;
    margin: auto;
    left: 0;
    right: 0;
}
.base2:before {
  border-bottom: 120px solid red;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: -120px;
    max-width: 1034px;
    width: 100%;
    
 
}
